@page "/driverdetails"
@page "/driverdetails/{id}"

@if(string.IsNullOrEmpty(Id))
{
    <PageTitle>Add New Driver</PageTitle>
    <h1>Add New Driver</h1>
}
else
{
    <PageTitle>Manage Driver</PageTitle>
    <h1>Manage Driver</h1>
}

<div class="row">
    <EditForm Model="@driver" OnValidSubmit="@HandleValidRequest" OnInvalidSubmit="@HandleFailedRequest">
        <div class="form-group">
            <label class="col-md-3">Name</label>
            <InputText class="col-md-8 form-control" @bind-Value="@driver.Name"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Racing Number</label>
            <InputText class="col-md-8 form-control" @bind-Value="@driver.RacingNb"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Team</label>
            <InputText class="col-md-8 form-control" @bind-Value="@driver.Team"></InputText>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Save Driver</button>
            <a @onclick="@GoToDrivers" class="btn btn-primary">back</a>
            <br />
            @if (!string.IsNullOrEmpty(Id))
            {
                <a @onclick="@DeleteDriver" class="btn btn-danger">Delete Driver</a>
            }
        </div>
        <br />
        <p style="color: red;">@Message</p>
    </EditForm>
</div>

